.nav-list-container {
    display: none;
    position: fixed;
    top: 7vh;
    right: 50vw;
    width: 10rem;
    height: 30rem;
    z-index: 3;
    animation-duration: 1s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  }
  
  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: translateY(-25%);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
  }

.nav-list-elements {
    font-family: 'Catamaran', sans-serif;
    color: white;
    text-decoration: none;
    list-style: none;
}

.nav-list-elements:hover {
    cursor: pointer;
    color: rgb(169, 169, 169);
    transition: color 500ms;
}