.main-image-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 160vh;
    background-size: cover;
    background-position: center;
}

.main-image-rights-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


/* background-image: url("../../assets/images/mainImage/1.jpg"); */