.gallery-image-tara-14{
    grid-column: 1 / span 7;
    grid-row: 12 / span 9;
    background-image: url("../../../../assets/images/tara/1.jpeg");
    background-position: left;
}

.gallery-image-tara-15 {
    grid-column: 8 / span 8;
    grid-row: 12 / span 18;
    background-image: url("../../../../assets/images/tara/2.jpeg");
}

.gallery-image-tara-16 {
    grid-column: 1 / span 7;
    grid-row: 21 / span 20;
    background-image: url("../../../../assets/images/tara/3.jpeg");
}

.gallery-image-tara-17 {
    grid-column: 8 / span 8;
    grid-row: 30 / span 19;
    background-image: url("../../../../assets/images/tara/4.jpeg");
}

.gallery-image-tara-18 {
    grid-column: 1 / span 7;
    grid-row: 41 / span 8;
    background-image: url("../../../../assets/images/tara/5.jpeg");
}

.gallery-image-tara-19 {
    grid-column: 1 / span 15;
    grid-row: 49 / span 15;
    background-image: url("../../../../assets/images/tara/6.jpeg");
}

.gallery-image-tara-20 {
    grid-column: 1 / span 10;
    grid-row: 64 / span 18;
    background-image: url("../../../../assets/images/tara/7.jpeg");
}

.gallery-image-tara-21 {
    grid-column: 11 / span 5;
    grid-row: 64 / span 9;
    background-image: url("../../../../assets/images/tara/8.jpeg");
}

.gallery-image-tara-22 {
    grid-column: 11 / span 5;
    grid-row: 73 / span 9;
    background-image: url("../../../../assets/images/tara/9.jpeg");
}

.gallery-image-tara-23 {
    grid-column: 1 / span 15;
    grid-row: 82 / span 11;
    background-image: url("../../../../assets/images/tara/10.jpeg");
}

.gallery-image-tara-24 {
    grid-column: 1 / span 9;
    grid-row: 93 / span 9;
    background-image: url("../../../../assets/images/tara/11.jpeg");
}

.gallery-image-tara-25 {
    grid-column: 1 / span 9;
    grid-row: 102 / span 9;
    background-image: url("../../../../assets/images/tara/12.jpeg");
}

.gallery-image-tara-26 {
    grid-column: 10 / span 6;
    grid-row: 93 / span 18;
    background-image: url("../../../../assets/images/tara/13.jpeg");
}

.gallery-image-tara-27 {
    grid-column: 10 / span 6;
    grid-row: 111 / span 10;
    background-image: url("../../../../assets/images/tara/14.jpeg");
}

.gallery-image-tara-28 {
    grid-column: 10 / span 6;
    grid-row: 121 / span 10;
    background-image: url("../../../../assets/images/tara/15.jpeg");
}

.gallery-image-tara-29 {
    grid-column: 10 / span 6;
    grid-row: 131 / span 10;
    background-image: url("../../../../assets/images/tara/16.jpeg");
}

.gallery-image-tara-30 {
    grid-column: 10 / span 6;
    grid-row: 141 / span 10;
    background-image: url("../../../../assets/images/tara/17.jpeg");
}