.triangle-body{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -20rem;
    height: 20rem;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}

.home-triangle-body{
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.gallery-triangle-body{
    clip-path: polygon(100% 0%, 0% 100%, 100% 100% );
}